body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 500px;
    height: 500px;
    border-radius: 5px;
}