@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html{
	scroll-behavior: smooth;
}

body{
	line-height: 1.5;
	color: #555;
	font-family: 'Lato', sans-serif;
	
	
}


:root{
--text-nav: #1ABC9C;
--font-size-nav: 15px;
}

.active{
	color: var(--text-nav) !important;
}

.btn:focus {
	box-shadow: none;
  }

h4{
	
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.2rem;
}
/*---------------NAVBAR------------*/
#input-search{
	font-size: 14px;
	background-color: white;
	border-radius: 5px;
	
}

.form-search{
	position: relative;
}

.form-search button {
	position: absolute;
	right: 0;
}


.nav-link  {
	position: relative;
}

#top-cart {
	position: absolute;
	top: -2px;
	left: auto;
	right: -2px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	text-align: inherit;
	border-radius: 50%;
	color: #FFF;
	background-color: var(--text-nav);

}
@media screen and (max-width: 780px) {
	#top-cart{
		right: inherit;
	}
}

.text-logo{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

#username{
	color: #444;
	font-size: var(--font-size-nav);
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.2rem;
}

.navbar-light .navbar-nav .nav-link{
	color: #444;
	font-size: var(--font-size-nav);
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.2rem;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: var(--text-nav);
}
/*------------- carousel----------------- */
#carouselId{
	max-height: 500px;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon{
	padding: 10px;
	border-radius: 50%;
	background-color:rgba(0,0,0,.3);
	font-family: 'Lato', sans-serif;
}
/* ---------Fancy-title and border------- */

.fancy-title{
	position: relative;
	margin-bottom: 20px;
}

.fancy-title h4 {
	position: relative;
	display: inline-block;
	background-color: #fff;
	margin-bottom: 0;
	font-weight: 600;
	font-size: 20px;
	
	
	
}

.fancy-title.title-border::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
}

.fancy-title.title-border::before{
	top: 49%;
	border-top: 1px solid #1ABC9C;
	opacity: 0.6;
}

/* ------------SHOP----------------------- */
.img-off{
	display: none;
	transition: all 1s ease-in-out;
}

.img-off:hover, .change-img:hover .img-on{
	display: none;
}

.img-on:hover, .change-img:hover .img-off{
	display: block;
}

.img-on{
	display: block;
	transition: all 1s ease-in-out;
}

.product-img img{
	height: 214px;
	width: 214px;
	margin-left: auto;
	margin-right: auto ;
	display: block;
	text-align: center;
	z-index: 10;
	transition: all 1.5s ease;
}

.product-img{
	position: relative;
	width: 100%;
	height: 100%;
}

.product-img:hover img{
	transform: scale(0.92);
}

.product-overlay{
	display: none;
	position: absolute;
	width: 100%;
	top: auto;
	left: 0;
	z-index: 6;
	overflow: hidden;
	bottom: 0;
	transition: all 1s ease-in;
}

.product-overlay a {
	display: block;
	float: left;
	width: 50%;
	text-decoration: none;
	text-align: center;
	background-color: #F5F5F5;
	color: #333;
	border-right: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
	transition: all .5s ease-in;

}

.product-overlay a i {
	margin-right: 5px;
}

.product-overlay a:hover{
	background-color: #333;
	color: #F5F5F5;
}

.product-overlay a:last-child{
	border-right: 0;
}


.product-title a{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #444;
	text-decoration: none;
}

.product-title:hover a {
	color: #1ABC9C;
}

.product:hover .product-overlay{
	display: block;
	cursor: pointer;
}

.product-price{
	font-size: 20px;
	font-weight: bold;
}

.product-discount{
	position: absolute;
	top: 0;
	background-color: #1ABC9C;
	color: white;
	height: 25px;
	width: 80px;
	border-radius: 10px;
	
	
}

.product-discount p {
	font-size: 13px;
	text-align: center;
	
}

.fa-star , .fa-star-half-alt{
	color:#FFD700 !important;
}

/* -------Scroll on top------------------ */

#scrollOnTop{
	display: none;
	position: fixed;
	right: 50px;
	bottom: 50px;
	background-color: #555;
	color: white;
	padding: 12px;
	border-radius: 5px;
	transition: all .3s ease-in-out;
	z-index: 7;
}

#scrollOnTop:hover{
	background-color: #1ABC9C;
	cursor: pointer;
}

#scrollOnTop i {
	transition: all .5s ease-in-out;
}

#scrollOnTop:hover i{
	transform: translateY(-5px);
}

/*-------------- Modal Img Items-----------*/
.myModalImg{
	display: none;
	position: fixed;
	z-index: 1031;
	padding-top: 50px;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0);
	background-color: rgba(0,0,0,0.9);
}



.myModalImg img {
	
	height: 80%;
	width: 100%;
}

.modalContent{
	margin: auto;
	display: block;
	width: 80%;
	max-width: 600px;
	
}

.modalContent{
	animation-name: zoom;
	animation-duration: 0.5s;
	overflow-x: hidden;
}

.myModalImg:hover img{
	transform: rotateY(360deg);
}

@keyframes zoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}



.closeM{
	position: absolute;
	top: 15px;
	right: 35px;
	font-size: 50px;
}

.closeM:hover,
.closeM:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.inner{
    overflow: hidden;
}

.inner:hover img{
	cursor: pointer;
}

.inner img{
	transition: all 1.5s ease;
}

.img-brands{
	padding: 0px;
}
/* -------------------------------------- */
.img-popular td img{
	height: 28px;
	width: 128px;
}

.img-popular td {
	width: 150px;
	height: 42px;
}

.img-popular td {
	padding: 5px;
}

/*------------FOOTER----------------------*/

footer{
	
	background-color:#fff;
	padding: 30px;
	font-size: 15px;
	color: #333;
}

.list-footer li{
	margin-bottom: 8px;

}

.list-footer li a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: #333;
}

.list-footer li a:hover{
	color: #1ABC9C;
}

.icon-footer i {
	font-size: 30px;
	margin-right: 10px;
}

.fa-youtube:hover{
	color:red;
	cursor: pointer;
}

.fa-facebook-square:hover{
	color:blue;
	cursor: pointer;
}

.fa-instagram:hover{
	color:crimson;
	cursor: pointer;
}

.img-footer{
	border-radius: 20px;
	transition: all 1s ease-in-out;
}

.img-footer:hover{
	transform: scale(1.1);
	cursor: pointer;
}
/* ----Layout search ----*/

.search{
	height: 60vh;
}

/* -------------------- */
/* --Cart Responsive--- */
@media screen and  (max-width: 760px){
	.cart-responsive,
	.cart-responsive thead,
	.cart-responsive tbody,
	.cart-responsive th,
	.cart-responsive td,
	.cart-responsive tr {
		display: block;
	}

	.cart-responsive thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.cart-responsive tr {
		border: none;
	}

	.cart-responsive tr td {
		border: none;
		position: relative;
		padding-left: 50%; 
		border-top: 1px solid #dee2e6;
	}
	
	.cart-responsive td:before {
		position: absolute;
		top: 7px;
		left: 7px;
		width: 45%;
		padding-right: 10px;
	}

	.cart-responsive td:first-child{
		text-align: center;
		padding-left: 0%;
	}

	.cart-responsive td:nth-child(2):before {content: "Name";}
	.cart-responsive td:nth-child(3):before {content: "Unit Price";}
	.cart-responsive td:nth-child(4):before {content: "Quantity";}
	.cart-responsive td:nth-child(5):before {content: "Total";}

	.carousel-responsive{
		display: none;
	}

	.responsive-filler{
		flex-direction: column;
	}
}